.h2_style {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: #F44A3E;
  font-weight: bolder;
 }

 .button_style {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
 }
