
<!-- Navbar -->
<nav class="nav__container">
  <div class="nav__struct">
    <a class="nav__link" href="#"> Dashboard </a>
    <form class="nav__form">
      <div class="form__struct">
        <span class="form__span">
          <mat-icon class="large-icon">search</mat-icon>
        </span>
        <input
          type="text"
          placeholder="Search here..."
          class="input-style"
        />
      </div>

    </form>
    <div class="account__circle">
      <mat-icon class="large-icon">account_circle</mat-icon>

    </div>
  </div>
</nav>

