<!-- Navbar -->
<nav
  class="nav__container"
>
  <div
    class="nav__struct"
  >
    <!-- Brand -->
    <a
      class="nav__link"
      href="#"
      >Dashboard</a
    >
    <!-- Form -->
    <form
      class="nav__form"
    >
      <div class="form__struct">
        <span
          class="form__span"
          ><i class="fas fa-search"></i
        ></span>
        <input
          type="text"
          placeholder="Search here..."
          class="input-style "
        />
      </div>
    </form>
    <!-- User -->
    <!-- <ul class="flex-col md:flex-row list-none items-center hidden md:flex">
      <app-user-dropdown class="block"></app-user-dropdown>
    </ul> -->
  </div>
</nav>

