<div
  class="container__campo"
>
  <div class="campo__header">
    <div class="text-center">
      <h6 class="text-blueGray-700">Registro do cliente</h6>
      <button
        class="bg-red-600 active:bg-red-700 shadow hover:shadow-md"
        type="button"
        (click)="adicionarInfoCliente()"
      >
        Submeter
      </button>
    </div>
  </div>
  <div class="flex-auto">
    <form>
      <h6 class="campo__title">
        Informações do cliente
      </h6>
      <div class="campo__inf">
        <div class="campo__witdh">
          <div class="campo__relative">
            <label
              class="relative__label"
              htmlFor="grid-password"
            >
              Nome
            </label>
            <input
              type="text"
              class="relative__input"
              placeholder="Digite o nome completo do cliente*"
              required
              [(ngModel)]="clienteAtual.nome"
              name="nome"
            />
          </div>
        </div>
        <div class="campo__witdh">
          <div class="campo__relative">
            <label
              class="relative__label"
              htmlFor="grid-password"
            >
              Email
            </label>
            <input
              type="email"
              class="relative__input"
              placeholder="Digite o email do cliente*"
              required
              [(ngModel)]="clienteAtual.email"
              name="email"
            />
          </div>
        </div>
        <div class="campo__witdh">
          <div class="campo__relative">
            <label
              class="relative__label"
              htmlFor="grid-password"
            >
              endereço
            </label>
            <input
              type="text"
              class="relative__input"
              placeholder="Digite o endereço do cliente"
              [(ngModel)]="clienteAtual.endereco"
              name="endereco"
            />
          </div>
        </div>
        <div class="campo__witdh">
          <div class="campo__relative">
            <label
              class="relative__label"
              htmlFor="grid-password"
            >
            Código Postal (CEP)
            </label>
            <input
              type="text"
              class="relative__input"
              placeholder="digite o CEP"
              [(ngModel)]="clienteAtual.cep"
              name="cep"
            />
          </div>
        </div>

        <div class="campo__witdh">
          <div class="campo__relative">
            <label
              class="relative__label"
              htmlFor="grid-password"
            >
              Telefone
            </label>
            <input
              type="text"
              class="relative__input"
              placeholder="digite o principal telefone de contato*"
              required
              [(ngModel)]="clienteAtual.telefone"
              name="telefone"
            />
            <mat-checkbox class="example-margin" [(ngModel)]="checked" name="WhatsApp"
            (change)="onCheckboxChange($event)">WhatsApp</mat-checkbox>
          </div>
        </div>
      </div>

      <hr class="campo__division" />

      <h6 class="campo__title">
        Desenvolvimento
      </h6>
      <div class="campo__inf">

        <div class="campo__witdh">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Digite o título da demanda</mat-label>
            <div class="input__botao">
              <input matInput class="input__titulo" [(ngModel)]="demandaAtual.titulo" name="titulo">
              <button mat-button (click)="toggleCampoTexto()" [disabled]="demandaAtual.titulo.length < 3">Add descrição</button>
            </div>
            <div *ngIf="mostrarCampoTexto" class="divisoria">
              <mat-label>Descrição da demanda </mat-label>
              <textarea matInput placeholder="descrição" #descricaoInput [(ngModel)]="demandaAtual.descricao" name="descricao" class="scrollable-container"></textarea>
            </div>
          </mat-form-field>

          <mat-form-field class="hora-form-field">
            <mat-label>Horas front-End</mat-label>
            <input matInput placeholder="Placeholder" [(ngModel)]="demandaAtual.horasFrontEnd" name="horasFrontEnd">
          </mat-form-field>


          <mat-form-field class="hora-form-field">
            <mat-label>Horas back-End</mat-label>
            <input matInput placeholder="Placeholder" [(ngModel)]="demandaAtual.horasBackEnd" name="horasBackEnd">
          </mat-form-field>

        </div>

        <button mat-raised-button color="primary" (click)="adicionarDemanda()">Salvar demanda</button>

      </div>

      <hr class="campo__division" />

      <h6 class="campo__title">
        Demandas registradas
      </h6>

      <div *ngFor="let demanda of demandas let i = index" >
        <h2> Demanda {{ i + 1 }}: {{ demanda.titulo }}</h2>
        <p>{{ demanda.descricao }}</p>
        <h2>Horas necessárias para a criação da demanda {{ demanda.titulo }} </h2>
        <p> Para a construção do Front-End será necessario {{ demanda.horasFrontEnd }} horas</p>
        <p> Para a construção do Back-end será necessário {{ demanda.horasBackEnd }} horas</p>
        <hr />
      </div>

    </form>
  </div>
</div>

