  <div class="example-container">
    <mat-sidenav-container>
      <mat-sidenav #snav mode="side">
        <app-sidebar></app-sidebar>
      </mat-sidenav>

      <mat-sidenav-content>
        <div class="background-container">
          <mat-toolbar class="toolbar__style">
            <button mat-icon-button (click)="toggleSidebar()">
              <mat-icon>menu</mat-icon>
            </button>
            <div>
              <app-admin-navbar></app-admin-navbar>
            </div>
          </mat-toolbar>
          <div class="flex-container">

            <div class="flex-item">
              <app-campo-form></app-campo-form>
            </div>
            <div class="flex-item">
              <app-card-profile></app-card-profile>
            </div>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
