<div
  class="container__profile"
>
  <div class="px-6">
    <div class="container__card">
      <div class="card__photo">
        <div class="relative">
          <img
            alt="..."
            src="./../../assets/eu.jpg"
            class="photo"
          />
        </div>
      </div>
      <div class="card__container">
        <div class="card-conteudo">
          <div class="conteudo__text">
            <span
              class="conteudo__numero"
            >
              22
            </span>
            <span class="span__description">Friends</span>
          </div>
          <div class="conteudo__text">
            <span
              class="conteudo__numero"
            >
              10
            </span>
            <span class="span__description">Photos</span>
          </div>
          <div class="conteudo__text">
            <span
              class="conteudo__numero"
            >
              89
            </span>
            <span class="span__description">Comments</span>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <h3
        class="text__title"
      >
        Jenna Stones
      </h3>
      <div
        class="text__address"
      >
        <i class="text__icone"></i>
        Los Angeles, California
      </div>
      <div class="icon_x">
        <i class="text__icone"></i>
        Solution Manager - Creative Tim Officer
      </div>
      <div class="icon_x">
        <i class="text__icone"></i>
        University of Computer Science
      </div>
    </div>
    <div class="card__info">
      <div class="container__card">
        <div class="container__info">
          <p class="info__text">
            An artist of considerable range, Jenna the name taken by
            Melbourne-raised, Brooklyn-based Nick Murphy writes, performs and
            records all of his own music, giving it a warm, intimate feel with a
            solid groove structure. An artist of considerable range.
          </p>
          <div>Data received from A: {{ dataFromSibling }}</div>
          <a href="#" class="info__link">
            Show more
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
